// base variables
$gallery_brand_font-color:    #eb1f40;
$gallery_brand_font-family:   "Cambay";

// pargraph embed
$gallery_h2_font-family:      $gallery_brand_font-family;
$gallery_goTo_font-color:     $gallery_brand_font-color;
$gallery_goTo_font-family:    $gallery_brand_font-family;
$gallery_numOf_font-family:   $gallery_brand_font-family;
$gallery_goTo_fonts-size:     11px;

// detail page
$gallery_counter_font-family: $gallery_brand_font-family;